.modal.display-block {
    display: block;
}

.modal.display-none {
    display: none;
}

.new_product_form {
    background-color: #242424;
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--xl);
    padding: var(--xl);
    border-radius: var(--md);
    align-items: center;
}

.new_product_form label {
    display: flex;
    flex-direction: column;
}

